.scroll_preview {
    @include flex_row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    h3 {
        display: inline-block;
    }
}

.word_wrap {
    @include position;
    @include flex_column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: ratio(20, 1920);
    p {
        @include position;
        z-index: 1;
        font-size: ratio(50, 1920);
        &:nth-of-type(2) {
            @include position;
            z-index: -1;
        }
    }
}

.square {
    @include position(a, 50%, null, null, 50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    width: ratio(50, 1920);
    height: ratio(50, 1920);
    background-color: $pointColor__default;
}