// COLOR
$textColor__default: #333;

$pointColor__default: #87a764;
$pointColor__second: #FBFBFB;

// FONT-SIZE
$SIZE__default: 18;

// FONT-WEIGHT
$FONT__light: 'Pretendard-Light';
$FONT__bold: 'Pretendard-SemiBold';
$FONT__exbold: 'Pretendard-ExtraBold';
$FONT__exlight: 'Pretendard-ExtraLight';
