@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.8333333333vw;
  font-family: "Pretendard-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

body {
  background-color: cadetblue;
}

.wrapper {
  position: relative;
  height: 100%;
}

.container {
  max-width: 1620px;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  transition: 0.8s ease all;
  background-color: transparent;
  z-index: 9999;
}
.header .container {
  margin: 0 auto;
}
.header__menu_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  -moz-column-gap: 2.0833333333vw;
       column-gap: 2.0833333333vw;
}
.header__menu_list li a {
  display: block;
  text-transform: uppercase;
  font-size: 0.9375vw;
  font-family: "Pretendard-SemiBold";
  mix-blend-mode: difference;
}
.header.active {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #FBFBFB;
}
.header.active li a {
  display: block;
  text-transform: uppercase;
  font-size: 0.9375vw;
  font-family: "Pretendard-SemiBold";
  mix-blend-mode: unset;
}

.scroll_preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.scroll_preview h3 {
  display: inline-block;
}

.word_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 1.0416666667vw;
}
.word_wrap p {
  position: relative;
  z-index: 1;
  font-size: 2.6041666667vw;
}
.word_wrap p:nth-of-type(2) {
  position: relative;
  z-index: -1;
}
.word_wrap .square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 2.6041666667vw;
  height: 2.6041666667vw;
  background-color: #87a764;
}

.animation_view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.animation_view .large_square {
  width: 75%;
  height: 15px;
  background-color: purple;
}/*# sourceMappingURL=style.css.map */